# PyDev and Eclipse files
.project
.pydevproject
.settings
*.launch

*.log
*.pid

# From https://github.com/github/gitignore/blob/master/TurboGears2.gitignore

*.py[co]

# Default development database
devdata.db

# Default data directory
data/*

# Packages
*.egg
*.egg-info
dist
build

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

