-r TurboGears-requirements.txt
alembic==0.8.5
Babel==2.2.0
BeautifulSoup==3.2.1
bleach==1.4.2
bootalchemy==0.4.1
chardet==2.3.0
coverage==4.0.3
cycler==0.10.0
decorator==4.0.9
docutils==0.12
FormEncode==1.3.0
funcsigs==0.4
Genshi==0.7
hcluster==0.2.0
html5lib==0.9999999
httplib2==0.9.2
libripoff==0.2.1
lxml==3.6.0
Mako==1.0.4
matplotlib==1.5.1
nose-exclude==0.4.1
nose==1.3.7
numpy==1.10.4
oauth2==1.9.0.post1
Paste==2.0.3
PasteScript==2.0.2
Pygments==2.1.3
Pylons==1.0.2
python-dateutil==2.5.2
python-editor==1.0
python-status==1.0.1
pytz==2016.3
PyYAML==3.11
repoze.sendmail==4.2
repoze.tm2==2.0
repoze.what-pylons==1.0
repoze.what-quickstart==1.0.9
repoze.what.plugins.sql==1.0.1
repoze.what==1.0.9
repoze.who-friendlyform==1.0.8
repoze.who-testutil==1.0.1
repoze.who.plugins.sa==1.0.1
repoze.who==1.0.19
Routes==2.3.1
sieve==0.1.9
simplejson==3.8.2
speaklater==1.3
sprox==0.10.2
SQLAlchemy==1.0.12
tgext.admin==0.6.6
tgext.crud==0.7.4
transaction==1.4.4
tw2.bootstrap.forms==2.2.2.1
tw2.codemirror==0.2.2
tw2.core==2.2.4
tw2.dynforms==2.0.1
tw2.forms==2.2.4.post1
tw2.jqplugins.chosen==0.3
tw2.jquery==2.2.0.2
tw2.pygmentize==0.2.1
tw2.sqla==2.1.0
tw2.wysihtml5==0.3.1
WebError==0.13
WebHelpers==1.3
zope.interface==4.1.3
zope.sqlalchemy==0.7.6
-e .
