backlash==0.1.1
Beaker==1.8.0
crank==0.8.0
gearbox==0.1.1
MarkupSafe==0.23
PasteDeploy==1.5.2
pyparsing==2.1.1
repoze.lru==0.6
six==1.10.0
Tempita==0.5.2
tg.devtools==2.3.8
TurboGears2==2.3.8
WebOb==1.6.0
WebTest==1.4.3
