backlash==0.1.0
Beaker==1.7.0
cliff==1.14.0
cmd2==0.6.8
crank==0.7.2
gearbox==0.0.8
MarkupSafe==0.23
PasteDeploy==1.5.2
pbr==1.5.0
prettytable==0.7.2
pyparsing==2.0.3
repoze.lru==0.6
six==1.9.0
stevedore==1.7.0
Tempita==0.5.2
tg.devtools==2.3.6
TurboGears2==2.3.6
WebOb==1.4.1
WebTest==1.4.3
