.admin_grid {
	margin-top: 1em;
	width: 400px;
}

.admin_grid img {
	border: 0;
	vertical-align: middle;
}

a.add_link,a.edit_link {
	background-repeat: no-repeat;
	padding-left: 20px;
}

a.add_link {
	background-image: url('/images/add.png');
}

a.edit_link {
	background-image: url('/images/pencil.png');
}

/* admin list view */
.crud_table .grid {
	border-collapse: collapse;
	border: 1px solid #ccc;
}

.crud_table .grid tr:nth-child(2n) {
	background-color: #eee;
}

.crud_table .grid tr:nth-child(2n+1) {
	background-color: #fff;
}

.crud_table .grid thead tr {
	background: url("/images/menubg.png") no-repeat scroll -20px top
		transparent;
}

.crud_table .grid th {
	color: #fff;
	font-weight: normal;
	text-transform: capitalize;
}

.crud_table .grid th a {
	color: #fff;
}

.crud_table .grid td a {
	color: #286571;
	text-decoration: underline;
}

.crud_table .grid td.col_0 div {
	float: left;
}

.crud_table .grid td.col_0 .edit_link,.crud_table .grid td.col_0 .delete-button {
	display: block;
	height: 17px;
	width: 20px;
	padding: 0;
	text-indent: -400px;
	background-repeat: no-repeat;
}

.crud_table .grid td.col_0 .delete-button {
	font-size: inherit;
	background-image: url('/images/delete.png');
	cursor: pointer;
}

/* admin add/edit view */
.crud_edit label,.crud_add label {
	font-size: 12px;
}

.crud_edit input,.crud_add input,.crud_edit select,.crud_add select {
	width: 15em;
}

/* Customization */
#crud_content { /* Content margin */
	width: auto !important;
	float: none !important;
}

#crud_leftbar { /* Leftbar on top */
	width: auto !important;
	float: none !important;
	border: 1px solid gray;
	border-radius: 5px;
	margin-bottom: 5px;
}

#crud_leftbar ul { /* No padding for inline ul and centering */
	padding-left: 0px;
	text-align: center;
	margin: 10px auto;
}

#crud_leftbar ul li { /* Leftbar with inline menu items */
	display: inline;
	font-weight: bold;
	font-size: small;
	padding-right: 10px;
}

.labelcol {
	font-weight: bold;
}

.fieldhelp { /* Always show fieldhelp in new line */
	display: block;
	width: 444px;
	font-size: 8pt;
}

ul.booleanradiobuttonlist { /* No padding for inline ul */
	padding-left: 0px;
}

ul.booleanradiobuttonlist li {
	display: inline;
}

.booleanradiobuttonlist input,.booleanradiobuttonlist select {
	width: auto !important;
}

#crud_content .fieldcol .label {
	/* Labels get spacing and a border line */
	margin-top: 10px;
	border-top: 1px solid gray;
	padding-top: 10px;
	font-weight: bold;
	font-size: larger;
}

#crud_content tbody tr:first-child td:first-child.fieldcol .label {
	/* The first label gets no border and less spacing */
	border: 0;
	margin-top: 0px;
	margin-bottom: 10px;
}