.footer {
	margin-top: 45px;
	padding: 35px 0 36px;
	border-top: 1px solid #e5e5e5;
}

.footer p {
	margin-bottom: 0;
	color: #555;
}

body {
	padding-top: 55px; /* Hidden behind navbar-fixed-top */
}

.navbar .brand { /* brand logo vertically centered */
	padding-top: 10px;
	padding-bottom: 11px;
}

.label { /* Fix label vertical alignment */
	vertical-align: baseline;
}

h2 .badge, h3 .badge { /* Fix badge in h2 vertical alignment */
	vertical-align: top;
}

/*
.navbar .nav li a, .navbar .navbar-text {
	color: #CCC;
}

.navbar .nav li.active {
	font-weight: bold;
}
*/

.pygmentize pre, .highlighttable pre {
	white-space: pre;
}